
@{
    ViewBag.Title = "BooksView";
}

<h2>BooksView</h2>

<script src="~/Scripts/jquery-2.2.4.js"></script>
<script src="~/Scripts/App/booksview.js"></script>
<script src="~/Scripts/App/book.js"></script>

<button id="showbooks">Show Books</button>
<br />
<input type="number" id="bookid" />
<br />
<button id="showbook">Show Book</button>
<br />
<div id="output"></div>
<br />
<span>Id</span>
<input type="number" id="bookid2" />
<br />
<span>Title:</span>
<input type="text" id="title" />
<br />
<span>Publisher</span>
<input type="text" id="publisher" />
<button id="addbook">Add Book</button>

