
@{
    ViewBag.Title = "BooksSampleView";
}

<script src="~/Scripts/jquery-2.2.4.js"></script>
<script src="~/Scripts/App/book.js"></script>
<script src="~/Scripts/App/bookssampleview.js"></script>

<h2>BooksSampleView</h2>

<button id="showbooks">Show Books</button>
<br />
<input type="number" id="bookid" />
<br />
<button id="showbook">Show A Book</button>
<br />
<div id="output"></div>

