
@{
    ViewBag.Title = "Hello";
}

<script src="~/Scripts/jquery-2.2.4.js"></script>
<script src="~/Scripts/App/helloworld.js"></script>
<script src="~/Scripts/App/hello.js"></script>


<h2>Hello</h2>

<h3>Hello, World!</h3>

<input type="text" id="name" />
<br />
<button id="button1">click me!</button>
<br />
<div id="div1"></div>

